<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="d-flex flex-row-reverse">
						<a (click)="showModal()" class="btn btn-primary" data-toggle="modal"> <span><img src="../../assets/add.png" id="iconoAdicionar">&nbsp;Añadir nuevo producto</span></a>
						<a (click)="downloadPDF()" class="btn btn-danger" data-toggle="modal"> <span><img src="../../assets/archivo-pdf.png" id="iconoPDF">&nbsp;Generar reporte de inventario</span></a>
						<a (click)="exportExcel()" class="btn btn-success" data-toggle="modal"> <span><img src="../../assets/excel-file.png" id="iconoExcel">&nbsp;Exportar inventario a Excel</span></a>
						<h2 class="mr-auto">Manejo de catálogo</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				  <input type="text" placeholder="Buscar artículo" class="form-control" [(ngModel)]="filteredString"/>
				</div>
			  </div>
			<table class="table table-striped table-hover" id="htmlData" >
				<thead>
					<tr class="text-center">
						<th>ID</th>
						<th>Tipo de producto</th>
						<th>Nombre</th>
						<th>Enlace de la imagen</th>
						<th>Precio</th>
						<th>Stock</th>
						<th>Acción</th>
					</tr>
				</thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let Articulo of ArticulosRecibidos | filterCatalogo:filteredString  | paginate: { itemsPerPage: 20, currentPage: page }" >
                            <td>{{Articulo.id}}</td>
                            <td>{{Articulo.type}}</td>
                            <td>{{Articulo.name}}</td>
                            <td>{{Articulo.img}}</td>
                            <td>{{Articulo.price | number : '1.2-2'}}</td>
                            <td>{{Articulo.stockQty}}</td>
                            <td>
                                <a data-toggle="modal" (click)="editProductoVista(Articulo.id, Articulo.type, Articulo.name, Articulo.img, Articulo.price, Articulo.stockQty)" data-target="#editEmployeeModal"><img src="../../assets/edit.png"></a>
                                &nbsp;
                                <a (click)="eliminarProducto(Articulo.id)"><img src="../../assets/trash.png"></a>
                            </td>
                        </tr>
                    </tbody>
			</table>
			<pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
        nextLabel="Siguiente" class="text-center" ></pagination-controls>
		</div>
	</div>        
</div>

<table class="table table-striped table-hover" id="excel-table" >
	<thead>
		<tr class="text-center">
			<th>ID</th>
			<th>Tipo de producto</th>
			<th>Nombre</th>
			<th>Enlace de la imagen</th>
			<th>Precio</th>
			<th>Stock</th>
		</tr>
	</thead>
		<tbody>
			<tr class="text-center" *ngFor="let Articulo of ArticulosRecibidos" >
				<td>{{Articulo.id}}</td>
				<td>{{Articulo.type}}</td>
				<td>{{Articulo.name}}</td>
				<td>{{Articulo.img}}</td>
				<td>{{Articulo.price | number : '1.2-2'}}</td>
				<td>{{Articulo.stockQty}}</td>
			</tr>
		</tbody>
</table>
<nz-modal
        [(nzVisible)]="isVisible"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        (nzOnCancel)="closeModal()"
      >
        <ng-template #modalTitle>Añadir producto</ng-template>

        <ng-template #modalContent>
			<form [formGroup] = "datosProductoAgregar" (ngSubmit)="agregarProducto(datosProductoAgregar.value)">
				<div class="modal-body">					
					<div class="form-group">
						<label><b>Tipo de producto:</b></label> &nbsp;
						<select id="productos" name="productos" formControlName="type">
							<option value="anime">Anime</option>
							<option value="comic">Comic</option>
							<option value="manga">Manga</option>
							<option value="otro">Otro</option>
						</select>
					</div>
					<div class="form-group">
						<label><b>Nombre:</b></label>
						<input type="text" class="form-control" formControlName="name">
					</div>
					<div class="form-group">
						<label><b>Enlace de la imagen:</b></label>
						<input type="url" class="form-control" formControlName="img">
					</div>
					<div class="form-group">
						<label><b>Precio:</b></label>
						<input type="number" class="form-control" min="1" formControlName="price">
					</div>	
					<div class="form-group">
						<label><b>Stock:</b></label>
						<input type="number" class="form-control" min="1" formControlName="stockQty">
					</div>					
				</div>
				<div class="modal-footer">
					<input type="reset" class="btn btn-default" value="Limpiar campos">
					<input type="submit" class="btn btn-success" value="Añadir producto" [disabled]="!datosProductoAgregar.valid">
				</div>
			</form>
        </ng-template>

        <ng-template #modalFooter>
        </ng-template>
      </nz-modal>

<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form [formGroup] = "datosProducto" (ngSubmit)="editarProducto(datosProducto.value)">
				<div class="modal-body">
					<div class="form-group">
						<label><b>ID del producto a editar:</b></label>
						<input type="number" class="form-control" min="1" id="idArticulo" formControlName="id" readonly>
					</div>					
					<div class="form-group">
						<label><b>Tipo de producto:</b></label> &nbsp;
						<select id="productos" name="productos" formControlName="type">
							<option value="anime">Anime</option>
							<option value="comic">Comic</option>
							<option value="manga">Manga</option>
							<option value="otro">Otro</option>
						</select>
					</div>
					<div class="form-group">
						<label><b>Nombre:</b></label>
						<input type="text" class="form-control" formControlName="name">
					</div>
					<div class="form-group">
						<label><b>Enlace de la imagen:</b></label>
						<input type="url" class="form-control" formControlName="img">
					</div>
					<div class="form-group">
						<label><b>Precio:</b></label>
						<input type="number" class="form-control" min="1" formControlName="price">
					</div>	
					<div class="form-group">
						<label><b>Stock:</b></label>
						<input type="number" class="form-control" min="1" formControlName="stockQty">
					</div>					
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Editar producto" [disabled]="!datosProducto.valid">
				</div>
			</form>
		</div>
	</div>
</div>