<ng-container *ngIf="!carritoVacio()">
  <div class="card-table">
    <div class="cart-book">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Articulo</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody *ngFor="let articulo of Articulos">
          <tr>
            <td>{{articulo.name}}</td>
            <td>{{articulo.price}}</td>
            <td>
              <div>
                <button (click)="decrementarCantidad()">
                  -
                </button>
                {{cantidadArticulos}}
                <button (click)="incrementarCantidad(articulo.stockQty)">
                  +
                </button>
              </div>
            </td>
            <td>{{articulo.price * cantidadArticulos}}</td>
            <td><button class="btn btn-secondary" (click)="eliminarArticuloDelCarro(articulo.id)"><img src="../../assets/trash.png"></button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="subtotal">Subtotal: ${{valorTotalCompra(cantidadArticulos)}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger" (click)="vaciarCarro()">Vaciar carrito</button></td>
            <td><button class="btn btn-success" (click)="realizarPago()">Realizar compra </button></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="carritoVacio()">
  <div class="container">
    <div class="card">
      <h5 class="card-title">Mi carrito de compra</h5>
    </div>
    <div class="center">
      <h3>Parece ser que tu carrito está vacío...</h3>
    </div>
  </div>
</ng-container>
