<div id="inner-div">
    <h1>Ticket de compra</h1>
    <br><br>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>Tipo de producto</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
            <tbody>
                <tr class="text-center" *ngFor="let compra of compraRealizada">
                    <td>{{compra.id}}</td>
                    <td>{{compra.type}}</td>
                    <td>{{compra.name}}</td>
                    <td>{{compra.price | number : '1.2-2'}}</td>
                    <td>{{compra.qty}}</td>
                </tr>
            </tbody>
    </table>
    <div>
        Total pagado: {{obtenerPagoTotal() | number : '1.2-2'}}
    </div>
  </div>